<div class="btn-container ">
  <div class="btn-inner-container ">
    <button type="button" class="d-none btn-language" [ngClass]="{'d-block':lang=='hin'}" (click)="baseUrl('hin')">hindi</button>
    <button type="button" class="d-none btn-language" [ngClass]="{'d-block':lang=='eng'}" (click)="baseUrl('eng')">english</button>
  </div>
</div>
<section class="portal">
  <app-header></app-header>
  <div class="container-fluid margin-main-container">
    <div class="row">
      <aside class="col-md-1  padding-zero d-none-col">
        <app-ad [imgPath]="'assets/images/news/ad1.jpg'"></app-ad>
      </aside>
      <section class="col-md-10 col-sm-12">
        <app-slider-template *ngIf="slider" [categoryId]="42" [count]="5"></app-slider-template>
        <div class="">
          <div class="row pt-5">
            <main class="col-lg-8 ">
              <router-outlet></router-outlet>
            </main>
            <aside class="col-lg-4 ">
              <app-right-side-bar></app-right-side-bar>
            </aside>
          </div>
        </div>
      </section>
      <aside class="col-md-1 padding-zero d-none-col">
        <app-ad [imgPath]="'assets/images/news/ad2.jpg'"></app-ad>
      </aside>
    </div>
  </div>
  <app-footer></app-footer>
</section>
