<header class="fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6 site-logo">
        <a href="">
          <img class="logo-width" src="assets/images/logo/logo.png" alt="">
        </a>
      </div>
      <div class="col-md-6 d-none-col-sm"></div>
      <div class="col-md-3 col-sm-6 col-6 pr-4 pt-2">
        <form (ngSubmit)="check()" #searchForm="ngForm">
          <div class="p-0 search-container mb-1">
            <input [(ngModel)]="SearchTerm" #searchTerm="ngModel" name="searchTerm" required type="search"
              class="search-input" placeholder="Search" />
            <button [disabled]="searchForm.invalid" class="btn-search btn-search-outline-dark" type="submit"><img
                class="w-75" src="assets/images/icons/search.png" alt=""></button>
          </div>
          <div class="color-red" *ngIf="searchTerm.invalid  &&  (searchTerm.touched || searchTerm.dirty)">
            Enter search term
          </div>
        </form>
      
        <time class="current-date">
          {{date | date:'longDate' | uppercase}}
        </time>
      </div>
    </div>
  </div>
  <nav class="w-100">
    <ul class="nav-menu " *ngIf="categoryList && categoryList.length > 0">
      <li class="nav-item"> <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="nav-link-active">{{lang=='hin'? 'होम':'Home'}}</a></li>
      <ng-container>
        <li *ngFor="let cat of categoryList" class="nav-item"> <a class="nav-link" [routerLink]="['/category' ,cat.id]"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="nav-link-active">{{cat.name}}</a></li>
      </ng-container>
    </ul>
  </nav>
</header>
