.search-container {
  border: solid 2px #ced4da;
  border-radius: 4px;
  position: relative;
}

.search-input {
  width: 100%;
  height: 28px;
  border-color: transparent;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 20;
}

.btn-search {
  user-select: none;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #fff;
  border: 2px solid transparent;
  padding: 0px;
  height: 32px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 32px;
}

.btn-search-outline-dark {
  border-color: #ced4da;
}

.btn-search-outline-dark:hover {
  color: #fff;
  background-color: #eaeaea;
  border-color: #a1a4a7;
}

.logo-width {
  width: 60%;
  padding-top: 5px;
}

.current-date {
  color: #a68275;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end;
}

.site-logo {
  padding-left: 30px;
}

@media screen and (max-width: 576px) {

  .logo-width {
    width: 100%;
  }

  .current-date {
    font-size: 9px;
  }
}
