
  <div class="home-page">
      <app-home-page-template cssClass="color-pink" [title]="'Top news'" [categoryId]="42" [count]="6"></app-home-page-template>
      <app-home-page-template cssClass="color-orange" [title]="'Politics'" [categoryId]="43" [count]="6"></app-home-page-template>
      <app-home-page-template cssClass="color-red" [title]="'World'" [categoryId]="48" [count]="6"></app-home-page-template>
      <app-home-page-template cssClass="color-yello" [title]="'Business'" [categoryId]="41" [count]="6"></app-home-page-template>
      <app-home-page-template cssClass="color-cyan" [title]="'Bazaar Review'" [categoryId]="67" [count]="6"></app-home-page-template>
    </div>
