$skyBlue:#32bcb8;
$pink:#f30089;
$orange:#f3b206;
$blue:#004fe6;
$red:#c3000b;
$yello:#cce70c;
$cyan:#07b2dc;
$tigerOrange:#ff6000;
$purple:#bb71ef;
$green:#188e3d;
$lightGreen:#74bb53;
$white:#fff;
$gray:gray;
$light-gray:#e6e6e6;
$primary : #007bff;
$secondary : #6c757d;
$success : #28a745;
$info : #17a2b8;
$warning : #ffc107;
$danger : #dc3545;
$light : #f8f9fa;
$dark : #343a40;
$seagreen :seagreen;
$lightRed:#ef5d77;