<footer class="container-fluid bg-footer">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="flex flex-wrap-wrap justify-content-center padding-top-15">
          <a class=" footer-link" [routerLink]="['/page', 'about-us']">About Us</a>
          <a class=" footer-link d-none" [routerLink]="['/page', 71]">Contact Us</a>
          <a class=" footer-link" [routerLink]="['/page', 'privacy-policy']"> Privacy Policy</a>
          <a class=" footer-link" [routerLink]="['/page', 'disclaimer']">Disclaimer</a>
          <a class=" footer-link border-solid-right" [routerLink]="['/page', 'terms-and-condition']">Terms and
            Conditions</a>
        </div>

        <div class="flex justify-content-center mt-3">
          <a href="https://www.facebook.com/newskhulasaindia/" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/facebook.png" alt="facebook"> </a>
          <a href="https://twitter.com/news_khulasa" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/twitter.png" alt="twitter"> </a>
          <a href="https://www.instagram.com/khulasanews24x7/" target="_blank"><img class="social-media-icon"
              src="assets/images/icons/insta.png" alt="insta"> </a>
        </div>

        <hr class="footer-hr">
        <div class="flex justify-content-center">
          <h6 class="copy-right">© All Rights Reserved</h6>
        </div>
      </div>
      <div class="playstore-img-container">
        <span class="pr-1"> Download our app</span>
        <a href="https://play.google.com/store/apps/details?id=com.mojodigi.khulasanews" target="_blank">

          <img class="img-playstore" src="assets/images/icons/google-play.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
